a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.navBarHeader {
    z-index: 1;
    background: #FFF;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.navMenuRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.navbarBtn {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.navBarIcon {
    display: flex;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background: no-repeat center center;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
}
.rightMenu {
    position: absolute;
    right: -40%;
    top: 0;
    margin-right: 0;
    width: 40%;
    max-width: 300px;    
    background: #FFF;
    height: 100vh;
    border-left: 1px solid black;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 10vh;
    transition: right .5s;
}
.openNavMenu {
    right: 0;
}